/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /* Google Fonts */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

 /* Extended CSS */

.woo-esr-extend-table{
    width:100%;
    border-collapse:collapse;
}
.woo-esr-extend-table td {
    width:16%;
    padding-left:3%;
    border-left:1px solid #ddd;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size:14px;
    color:#000;
}
/* improve visual readability for IE8 and below */
.woo-esr-extend-table tr{
    background: #b8d1f3;
}
/*  Define the background color for all the ODD table columns  */
.woo-esr-extend-table tr td:nth-child(odd){
    background: #f9f9f9;
    font-weight:600;
}
/*  Define the background color for all the EVEN table columns  */
.woo-esr-extend-table tr td:nth-child(even){
    background: #fff;
}

/* Related Products */
.related-products-title {
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    color:#000;
    letter-spacing:0.5px;
    display:block;
    line-height:0;
}
#related-products-link {
    margin:20px 0 8px;
}

/* Lightbox */
.featured-video-lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
}
.featured-video-lightbox:target {
    display: block;
}
.featured-video-lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
a#featured-video-box iframe {
    width: 50%;
    height: 520px;
    margin: 0 auto;
    display: block;
    top: 30%;
    position: relative;
}